# Copy this to .env and fill in real values — NEVER commit .env to Git
DB_HOST=<DB_Private_IP>
DB_PORT=3306
DB_USER=dbadmin
DB_PASSWORD=<DB_Password>
DB_NAME=<DB_name>

SECRET_KEY=<JWT_Token_HERE>
ACCESS_TOKEN_EXPIRE_MINUTES=1440

APP_ENV=development
CORS_ORIGINS=http://<Public-Browser-IP>:5173
